MSSQL_SERVER=uran
MSSQL_DATABASE=cs
MSSQL_USER=<login>
MSSQL_PASSWORD=<password>
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_TRUST_SERVER_CERTIFICATE=yes
RAG_WORKSPACE_ROOT=<ścieżka do katalogu głównego repo>