MSSQL_SERVER=uran
MSSQL_DATABASE=cs
MSSQL_USER=<login>
MSSQL_PASSWORD=<password>
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_TRUST_SERVER_CERTIFICATE=yes
RAG_WORKSPACE_ROOT=<ścieżka do katalogu głównego repo>

# --- send_email (opcjonalne) ---
# Gmail/Workspace: wymaga 2FA + App Password (https://myaccount.google.com/apppasswords)
MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=465
MAIL_USER=<imie.nazwisko@certusoft.pl>
MAIL_APP_PASSWORD=<app-password>
MAIL_FROM_NAME=<Imię Nazwisko>
MAIL_ALLOWED_RECIPIENT_DOMAINS=certusoft.pl